{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}

    <h1>Bienvenue sur la page de test</h1>
    <p>Ce template a été créé manuellement.</p>
    <p>Nom du contrôleur : {{ controller_name }}</p>

{% endblock %}
